[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=CNCMaker
Exec=cncmaker.sh	
Terminal=true
Categories=Science
Comment=Open-Source Simulation & Computer Aided Machining
Icon=cncmaker.png
StartupNotify=true

