[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=CNCMaker
Exec=cncmaker.sh	
Terminal=true
Categories=Science
Comment=Collection of G-Code utilities for CNC machines
Icon=cncmaker.png
StartupNotify=true

